<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <platform>jakartaee-10.0</platform>
        <platform>microProfile-7.1</platform>
        <feature>restfulWS</feature>
        <feature>jsonb</feature>
        <feature>jsonp</feature>
        <feature>cdi</feature>
        <feature>mpHealth</feature>
        <feature>mpConfig</feature>
        <feature>mpReactiveMessaging</feature>
    </featureManager>


    <!-- To access this server from a remote client add a host attribute to the following element,
    e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
        httpPort="9080"
        httpsPort="9443" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true" />

    <webApplication location="rest-publisher-1.0-SNAPSHOT.war" contextRoot="/"></webApplication>

</server>